<div class="wrapper" [@constructing]="constructingState | async">
  <div id="icon" class="screen  " [ngClass]="resState">
    <div class="Header">
      <div class="Header-title"></div>
      <div class="Header-nav__top">
        <div class="Nav-item"></div>
        <div class="Nav-item __active"></div>
        <div class="Nav-item"></div>
        <div class="Nav-item"></div>
      </div>
    </div>
    <div class="Main">
      <div class="Main-detail">
        <div class="Detail-image">
          <div class="mountain"></div>
          <div class="mountain __mountain2"></div>
          <div class="mountain __mountain1"></div>
        </div>
        <div class="Detail-TextContent">
          <div class="TextContent__column">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
          <div class="TextContent__column">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="Buttons">

          <div class="Button Buttons-cancel"></div>
          <div class="Button Buttons-ok"></div>
        </div>
      </div>

      <div class="List">

        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item __active">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>
        <div class="List-item">
          <div class="ImageContent">
            <div class="ImageContent-circle"></div>
          </div>
          <div class="TextContent">
            <div class="TextContent-line _TitleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
            <div class="TextContent-line _SimpleLine"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="Footer">
      <div class="Footer-nav">
        <div class="FooterNav-item"></div>
        <div class="FooterNav-item __active"></div>
        <div class="FooterNav-item"></div>
        <div class="FooterNav-item"></div>
      </div>
    </div>
  </div>
</div>
