:host {
  --wide: 0;
  width: 100%;
  position: absolute;
  background-color: var(--main-primary-color);
  background: linear-gradient(
    -10deg,
    rgba(208, 36, 217, 1) 0%,
    rgba(175, 17, 181, 1) 19%,
    rgba(202, 25, 209, 1) 47%,
    rgba(175, 17, 181, 1) 79%,
    rgb(209, 17, 216) 100%
  );
  transition: background-color 150ms ease-in;
  overflow: hidden;
}

.WrapperTop {
  margin: 0 2em;
  overflow: hidden;
  // width: 100vw;
  // max-width: 40vmax;
  // max-height: 25vmin;
  // margin: 5vmin 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  .Build {
    text-align: center;
    color: var(--lighter-primary-color);
    margin: 1em 0 0em 0;
    font-size: 1.6em;
    font-style: italic;
    // text-shadow: 2px 2px 5px var(--lighter-primary-color);
  }
  .Hand {
    width: 20em;
    margin: 2em 0 0 0;
    max-width: 40vmax;
    z-index: 10;
    // height: 25em;
  }
  .Crafted {
    // margin: -1em 0 0 0;
    // position: relative;
    // padding: 0 0.2em;
    // border-radius: 5px;
    // // line-height: 1em;
    // // text-align: right;
    // // font-style: italic;
    // font-size: 1em;
    // // width: 6em;
    // color: var(--light-primary-color);
    // // background-color: var(--dark-primary-color);
    // text-shadow: 1px 1px 2px var(--dark-primary-color);
    // // box-shadow: 0px 1px 10px var(--lighter-primary-color);
    // &:before {
    //   position: absolute;
    //   transform-origin: right;
    //   transform: translateX(-100%) translateY(calc(0.5em - 2px));
    //   content: '';
    //   background-color: var(--dark-primary-color);
    //   height: 4px;
    //   width: 7em;
    // }
  }
  .PWA {
    // width: 20em;
    margin: 0.5em 0;
    font-size: 1.4em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px var(--dark-primary-color);
  }
  .for {
    margin: 0.3em 0;
    color: var(--lighter-primary-color);
    font-style: italic;
    font-weight: 600;
    text-align: center;
    // text-shadow: 0px 0px 5px var(--light-primary-color);
    // filter: blur(1px);
  }
  .swipearea {
    width: 16em;
    margin: 1em 0;
  }
}

.Background-Middle {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: skewY(calc(var(--wide) * -11deg));
  background-color: var(--light-primary-color);
}

#menu {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 5em;
  // overflow: hidden;
  .container {
    display: flex;
    width: calc(50vw + 16px);
    justify-content: center;
    min-width: calc(18em + 16px);
    min-height: calc(18em + 16px);

    // height: calc(70vw + 30px);
    flex-wrap: wrap;
    div {
      width: 25vw;
      height: 25vw;
      min-width: 9em;
      min-height: 9em;
      max-width: 25vw;
      max-height: 25vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: white;
      margin: 4px;
      // border: 4px solid var(--light-primary-color);
      span {
        font-size: 1.5rem;
        opacity: 0.5;
      }
    }
    .UX {
      background-color: var(--main-UX-color);
      z-index: 4;
      /* transform-origin: 2em 2em; */
    }

    .FE {
      z-index: 3;
      background-color: var(--main-FE-color);
      /* transform-origin: -2em 2em; */
    }

    .BE {
      z-index: 2;
      background-color: var(--main-BE-color);
      /* transform-origin: 2em -2em; */
    }

    .SL {
      z-index: 1;
      background-color: var(--main-SL-color);
      /* transform-origin: -2em -2em; */
    }
  }
}

#UX-menu {
  background-color: var(--main-UX-color);
  z-index: 4;
  transform-origin: 100% 100%;
}

#FE-menu {
  z-index: 3;
  background-color: var(--main-FE-color);
  transform-origin: 0% 100%;
}

#BE-menu {
  z-index: 2;
  background-color: var(--main-BE-color);
  transform-origin: 0% 0%;
}

#SL-menu {
  z-index: 1;
  background-color: var(--main-SL-color);
  transform-origin: 100% 0%;
}

@media only screen and (min-width: 481px) and (min-height: 500px) {
  :host {
    --wide: 1;
  }
  .WrapperTop {
    // width: 35vw;
    margin: 0 35% 0 2em;
    // align-items: flex-start;
    .PWA {
      // width: 20em;
      // margin: 0.5em 0;
      font-size: 1.7em;
    }
    .swipearea {
      // width: 16em;
      margin: 1.5em 0 0 0;
    }
  }
  .Background-Middle {
    height: 45vh;
    overflow: initial;
  }
}

@media only screen and (min-width: 1050px) and (min-height: 500px) {
  #menu {
    .container {
      div {
        width: 25vw;
        height: 25vw;
        max-width: 20vw;
        max-height: 20vw;
      }
    }
  }
}
