<div class="WrapperTop">

  <img class="Crafted" src="/assets/hand_crafted.svg">
  <x5-responsive-name class="swipearea"></x5-responsive-name>
</div>
<div class="Background-Middle">

</div>

<div class="menu" id="menu">
  <div class=" container ">
    <div class="UX " id="UX-menu " (click)="onMenuClick( 'UX') ">
      <span>UX/UI</span>
    </div>
    <div class="FE " id="FE-menu " (click)="onMenuClick( 'FE') ">
      <span>FrontEnd</span>
    </div>
    <div class="SL " id="SL-menu " (click)="onMenuClick( 'SL') ">
      <span>Serverless</span>
    </div>
    <div class="BE " id="BE-menu " (click)="onMenuClick( 'BE') ">
      <span>BeckEnd</span>
    </div>
  </div>
</div>
