/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* CSS BROWSER RESET */

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
input,
textarea,
label,
blockquote,
table,
button,
th,
td {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
a,
span {
  background-repeat: no-repeat;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr,
acronym {
  border: none;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MY RESETS */
button {
  font-size: 14px;
}

// body {
//   min-width: 100vw;
//   min-height: 100vh;
// }

/* color variables */

:root {
  --light-primary-color: #f3eef3;
  --main-primary-color: #86078b;
  --darker-primary-color: #6e0472;
  --dark-primary-color: #5f0263;

  --main-UX-color: #0083db;
  --darker-UX-color: #005c99;
  --dark-UX-color: #004c80;

  --main-FE-color: #00b5db;
  --darker-FE-color: #007e99;
  --dark-FE-color: #006980;

  --main-SL-color: #f87400;
  --darker-SL-color: #be5c05e1;
  --dark-SL-color: #cb5f01c0;

  --main-BE-color: #f84400;
  --darker-BE-color: #d93c01;
  --dark-BE-color: #be3704;
}

/* main background */
.home-route {
  background-color: var(--light-primary-color);
}

.UX-route {
  background-color: var(--main-UX-color);
}

.FE-route {
  background-color: var(--main-FE-color);
}

.BE-route {
  background-color: var(--main-BE-color);
}

.SL-route {
  background-color: var(--main-SL-color);
}
