/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* CSS BROWSER RESET */

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
input,
textarea,
label,
blockquote,
table,
button,
th,
td {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: Comfortaa, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
// a,
// span {
//   background-repeat: no-repeat;
//   outline: none;
// }

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

// fieldset,
// img,
// abbr,
// acronym {
//   border: none;
//   text-decoration: none;
// }

// ol,
// ul {
//   list-style: none;
// }
// caption,
// th {
//   text-align: left;
//   font-weight: normal;
// }

// q:before,
// q:after {
//   content: '';
// }

// input,
// textarea,
// select {
//   font-family: inherit;
//   font-size: inherit;
//   font-weight: inherit;
// }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MY RESETS */
// button {
//   font-size: 14px;
// }

// body {
//   min-width: 100vw;
//   min-height: 100vh;
// }

/* color variables */

:root {
  --light-accent-color: #f0e2a4;
  --lighter-accent-color: #ffdf50;
  --main-accent-color: #ffc107;
  --darker-accent-color: #f8b015;
  --dark-accent-color: #e79f04;

  --light-primary-color: #fccffc;
  --lighter-primary-color: #e766ee;
  --main-primary-color: rgb(208, 36, 217);
  --darker-primary-color: #af14b4;
  --dark-primary-color: #5f0263;

  --light-UX-color: #b8e3ff;
  --lighter-UX-color: #2497e4;
  --main-UX-color: #0083db;
  --darker-UX-color: #005c99;
  --dark-UX-color: #004c80;

  --light-FE-color: #aef1ff;
  --lighter-FE-color: #7ce3f8;
  --main-FE-color: #00b5db;
  --darker-FE-color: #007e99;
  --dark-FE-color: #006980;

  --light-SL-color: #f8dcc3;
  --lighter-SL-color: #ffbc82;
  --main-SL-color: #f8841f;
  --darker-SL-color: #cf6100;
  --dark-SL-color: #aa5505;

  --light-BE-color: #fdd0c0;
  --lighter-BE-color: #fd7f51;
  --main-BE-color: #f84400;
  --darker-BE-color: #d93c01;
  --dark-BE-color: #be3704;
}

/* main background */

body {
  background-color: var(--main-primary-color);
  transition: background-color 150ms ease-in;
  .Header {
    background-color: var(--darker-primary-color);
    color: var(--light-primary-color);
    transition: background-color 250ms ease-in;
  }
}

.home-route {
  background-color: var(--main-primary-color);
  background: rgb(208, 36, 217);
  background: linear-gradient(
    -10deg,
    rgba(208, 36, 217, 1) 0%,
    rgba(175, 17, 181, 1) 19%,
    rgba(202, 25, 209, 1) 47%,
    rgba(175, 17, 181, 1) 79%,
    rgb(209, 17, 216) 100%
  );
  transition: background-color 150ms ease-in;
  .Header {
    background-color: var(--darker-primary-color);
    color: var(--light-primary-color);
    transition: background-color 250ms ease-in;
  }
}

.UX-route {
  background-color: var(--main-UX-color);
  transition: background-color 150ms ease-in;
  .Header {
    background-color: var(--darker-UX-color);
    color: var(--light-UX-color);
    transition: background-color 250ms ease-in;
  }
}

.FE-route {
  background-color: var(--main-FE-color);
  transition: background-color 150ms ease-in;
  .Header {
    background-color: var(--darker-FE-color);
    color: var(--light-FE-color);
    transition: background-color 250ms ease-in;
  }
}

.BE-route {
  background-color: var(--main-BE-color);
  transition: background-color 150ms ease-in;
  .Header {
    background-color: var(--darker-BE-color);
    color: var(--light-BE-color);
    transition: background-color 250ms ease-in;
  }
}

.SL-route {
  background-color: var(--main-SL-color);
  transition: background-color 150ms ease-in;
  .Header {
    background-color: var(--darker-SL-color);
    color: var(--light-SL-color);
    transition: background-color 250ms ease-in;
  }
}
