:host {
  flex: 1;
  // width: 100%;
}
a {
  height: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 0.2rem 1rem;
  color: whitesmoke;
  text-decoration: none;
  white-space: nowrap;
  .pointer {
    height: 2px;
    width: 100%;
    margin-left: -1em;
    margin-top: 0.5em;
    display: block;
    opacity: 1;
    background-color: #ffff8d;
    transform: translateX(00%);
    &.top {
      margin-top: -1em;
      margin-bottom: 10px;
    }
  }
  &.activated {
    color: white;
    font-weight: 500;
    opacity: 1;
    // background-color: #ffff8d36;
  }
}

.shorttitle {
  display: block;
  text-align: center;
}
.longtitle {
  display: none;
}

.home {
  background-color: var(--main-primary-color);
}

.UX {
  background-color: var(--main-UX-color);
}

.FE {
  background-color: var(--main-FE-color);
}

.BE {
  background-color: var(--main-BE-color);
}

.SL {
  background-color: var(--main-SL-color);
}

@media only screen and (min-width: 690px) and (min-height: 500px) {
  .shorttitle {
    display: none;
  }
  .longtitle {
    display: block;
  }
  .nav-item {
    background-color: initial;
  }
  a.activated {
    color: white;
    font-weight: 500;
    opacity: 1;
    background-color: #ffff8d36;
  }
}
