/* CSS BROWSER RESET */

/* body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
input,
textarea,
label,
blockquote,
table,
button,
th,
td {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

a,
span {
  background-repeat: no-repeat;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr,
acronym {
  border: none;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* apply a natural box layout model to all elements, but allowing components to change */

/* html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */

/* ***** ICON MOBILE *** */
body {
  background-color: rgb(39, 99, 228);
  --back-color0: rgba(233, 232, 233, 0.808);
  --back-color1: rgba(229, 136, 248, 0.548);
  --back-color2: rgba(159, 241, 126, 1);
  --back-color3: rgba(96, 157, 247, 0.548);
  --grey-color: rgba(255, 250, 250, 0.685);
  --main-color: rgba(48, 175, 226, 0.8);
  margin: 0;
}

.screen {
  /* transform: translate(0px, -15%) rotateX(67deg) rotateY(-3deg) rotateZ(53deg); */
  transition: all 550ms ease-out;
  /* overflow-y: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 30em;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.62) 0%,
    rgba(255, 255, 255, 0.62) 65%,
    rgba(255, 255, 255, 0) 93%,
    rgba(255, 255, 255, 0) 100%
  );
}

.Header {
  height: 10%;
  background-image: linear-gradient(135deg, #c0c5ff, #adb2ff44);
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Header-title {
  margin: 0 5%;
  width: 40%;
  height: 45%;
  background-color: snow;
  opacity: 0.7;
}
.Header-nav__top {
  width: 50%;
  height: 40%;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}
.Nav-item {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 22%;
}
.Nav-item.__active {
  background-color: var(--main-color);
}

.Main {
  display: flex;
  min-height: 88%;
  margin-top: 2%;
}

.Main-detail {
  background-image: linear-gradient(135deg, #c0c5ff, #adb2ff44);
  border: 1px solid rgba(255, 250, 250, 1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 1%;
  transition: transform 500ms;
}

.Detail-image {
  width: 100%;
  height: 40%;
  border: 1px solid rgba(255, 250, 250, 1);
  background-color: rgba(255, 250, 250, 0.3);
  position: relative;
  overflow: hidden;
}

.mountain {
  border-radius: 5%;
  transform: rotate(-45deg) translateX(-15%);
  transition: transform 550ms;
  position: absolute;
  bottom: -40%;
  margin-left: -5%;
  width: 75%;
  height: 85%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(-120deg, #ecedfcf1, #adb2ff73);
}
.__mountain1 {
  transform: rotate(-40deg) translateX(-25%);
  width: 110%;
  height: 90%;
  bottom: -55%;
  left: 5%;
}
.__mountain2 {
  transform: rotate(-45deg) translateX(-5%);
  width: 80%;
  height: 90%;
  bottom: -40%;
  right: -25%;
}
.Detail-TextContent {
  height: 25%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.TextContent__column {
  height: 90%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Buttons {
  align-self: flex-end;
  display: flex;
  width: 40%;
  height: 5%;
  margin: 5%;
}

.Buttons-cancel {
  flex: 1;
  color: white;
  background-color: rgba(255, 250, 250, 0.23);
}
.Buttons-ok {
  flex: 1;
  margin-left: 3px;
  /* border: 1px solid rgba(255, 250, 250, 1); */
  background-color: var(--main-color);
}

.List {
  flex: 1;
  justify-content: center;
  width: 100%;
  /* overflow-y: auto; */
  display: flex;
  flex-wrap: wrap;
}

.List-item {
  display: inline-block;
  height: 15%;
  width: 42%;
  border-radius: 5px;
  border: 1px solid rgba(255, 250, 250, 1);
  background-image: linear-gradient(135deg, #c0c5ff, #adb2ff44);
  /* box-shadow: 11px 11px 15px 0 #5e6cff62; */
  margin: 0 2%;
  display: flex;
  opacity: 1;
}
.List-item.__active {
  background-color: var(--main-color);
}
.ImageContent {
  background-color: #e4e5f869;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ImageContent-circle {
  border-radius: 100%;
  position: relative;
  width: 50%;
  height: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  /* background-image: linear-gradient(-120deg, #ecedfcf1, #adb2ff73); */
}

#icon .footer {
  background-color: royalblue;
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9%;
}
#icon .nav-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
}

#icon .nav-bottom > div {
  background-color: rgb(194, 194, 194);
  height: 100%;
  width: 25%;
  border: 2px solid rgb(156, 156, 156);
}

.TextContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}
._TitleLine {
  width: 40%;
  height: 4px;
  background-color: var(--back-color0);
}
._SimpleLine {
  width: 100%;
  height: 1px;
  background-color: var(--back-color0);
}

.__BoldLine {
  width: 100%;
  height: 2px;
  margin: 2% 0;
  background-color: var(--back-color0);
}

.__ShortLine {
  width: 50%;
}

.Footer {
  transform: translateY(100%);
  display: none;
}

/* TABLET */
.tablet.screen {
  width: 15em;
  height: 12em;
}
.tablet .Main {
  flex-direction: column;
}

.tablet .Main-detail {
  flex-direction: row;
  align-items: stretch;
}

.tablet .Detail-image {
  height: auto;
}

.tablet .Detail-TextContent {
  height: auto;
  margin: 2%;
}

.tablet .Buttons {
  align-self: auto;
  margin: 1%;
  height: auto;
}

.tablet .Buttons-cancel,
.tablet .Buttons-ok {
  height: 10%;
  align-self: flex-end;
  margin-left: 1%;
}

.tablet .List-item {
  height: auto;
  margin: 1%;
  width: 30%;
}

/* MOBILE */
.mobile.screen {
  overflow: hidden;
  width: 7em;
  height: 9em;
}
.mobile .Header {
  height: 20%;
}
.mobile .Header-title {
  width: 80%;
  height: 30%;
}

.mobile .Header-nav__top {
  display: none;
}

.mobile .Main-detail {
  display: none;
}

.mobile .List-item {
  height: 20%;
  margin: 1%;
  width: 100%;
}

.mobile .Footer {
  display: block;
  transform: translateY(0);
  transition: transform 500ms ease-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9%;
}
.mobile .Footer-nav {
  height: 100%;
  display: flex;
}
.FooterNav-item {
  flex: 1;
  border: rgba(156, 156, 156, 0.5) 3px solid;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
}
.FooterNav-item.__active {
  background-color: var(--main-color);
}

/* 3D ROTATION */
.wrapper {
  /* perspective: -999999px; */
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 900px;
  /* transform: translate(-50%, 50%) rotateX(3deg) rotateY(-20deg) rotateZ(-7deg); */
}
.screen {
  margin: auto;
  transform: translate(00%, 50%) rotateX(55deg) rotateY(9deg) rotateZ(-17deg);
  /* animation: arc 5000ms alternate infinite linear; */
}

/* 3D element constructing */

.Nav-item:hover,
.Detail-image:hover,
.List-item:hover,
.Detail-TextContent > div:hover,
.Button:hover {
  transform: translate3d(-0.5em, -0.2em, 2em);
  box-shadow: 9px 16px 18px #88888881;
  transition: transform 150ms ease;
  z-index: 10000;
}

/* ANIMATIONS */
@keyframes arc {
  0% {
    perspective-origin: left;
    transform: translate(-100%, 50%) rotateX(3deg) rotateY(40deg) rotateZ(-7deg)
      skewY(-7deg);
  }
  50% {
    perspective-origin: center;
    transform: translate(0%, 43%) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
      skewY(0deg);
  }
  100% {
    perspective-origin: right;
    transform: translate(100%, 50%) rotateX(-3deg) rotateY(-40deg) rotateZ(7deg)
      skewY(7deg);
  }
}

@keyframes deconstruct {
  0% {
    transform: translate3d(0, 0, 0);
    box-shadow: none;
  }
  50% {
    transform: translate3d(-9%, -16%, 150px);
    box-shadow: 9px 16px 18px #88888881;
  }
  100% {
    transform: translate3d(0, 0, 0);
    box-shadow: none;
  }
}
