.router {
  /* grid-row: 1/-1;
            grid-column: 1/-1; */
}

article {
  width: 100vw;
  margin: 0 auto 10vh auto;
}

.UX_route article {
  color: var(--light-UX-color);
}
.FE_route article {
  color: var(--light-FE-color);
}
.SL_route article {
  color: var(--light-SL-color);
}
.BE_route article {
  color: var(--light-BE-color);
}

blockquote {
  /* color: var(--dark-UX-color); */
  width: 60%;
  max-width: 400px;
  /* margin: auto; */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 4rem auto;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
}
blockquote::before,
blockquote::after {
  content: open-quote;
  font-weight: 300;
  opacity: 0.4;
  font-style: italic;
  font-size: 3rem;
  line-height: 2rem;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

.UX_route blockquote {
  color: var(--dark-UX-color);
}
.FE_route blockquote {
  color: var(--dark-FE-color);
}
.SL_route blockquote {
  color: var(--dark-SL-color);
}
.BE_route blockquote {
  color: var(--dark-BE-color);
}

section > * {
  width: 80%;
}

section h2 {
  /* color: var(--dark-UX-color); */
  /* width: 40%; */
  /* margin: auto; */
  margin: 7rem auto 1rem auto;
  font-size: 2rem;
  font-weight: 300;
}
section > p {
  font-size: 1.2rem;
  font-weight: 200;
  /* width: 40%; */
  margin: auto;
  line-height: 1.8;
}

section .items {
  /* color: var(--main-UX-color); */
  width: auto;
  margin-top: 3rem;
  /* width: calc(100vw - 5rem); */
  /* margin-left: -50vw; */
  /* margin: 4rem 0 1rem 5rem; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*GRID*/
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
  grid-auto-columns: 1fr;
  justify-content: center;
  grid-gap: 0.5em; */
}
section .items.items__center {
  justify-content: center;
}
section .items > .item {
  flex-grow: 1;
  min-width: 150px;
  max-width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 10px;
  transform: translateX(-5px);

  background-color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

section .items .item h3 {
  margin: 10px;
  font-weight: 400;
}

section .items .item p {
  margin: 10px 10px 20px 10px;
  font-size: 0.8em;
}

section .item img {
  width: 100%;
}

.UX_route section h2 {
  color: var(--dark-UX-color);
}
.UX_route section .items {
  color: var(--darker-UX-color);
}
/* .router-animation {
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
        } */

@media all and (min-width: 481px) {
  article {
    width: 80vw;
  }
}

@media all and (min-width: 481px) and (max-width: 600px) {
  section > * {
    width: 80%;
  }
}

@media all and (min-width: 601px) {
  section > * {
    width: 70%;
  }
  section .items > .item {
    max-width: calc(50% - 10px);
  }
  /* article {
    width: 100vw;
  } */
}

@media all and (min-width: 801px) {
  section > * {
    width: 40%;
  }
  section .items > .item {
    max-width: calc(33% - 10px);
  }
}
