#premenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    max-width: 80vh;
    max-height: 80vh;
    flex-wrap: wrap;
    animation: PreMenuAnimationRotate 600ms linear infinite;
    div {
      width: 1em;
      height: 1em;
      max-width: 40vh;
      max-height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      // opacity: 0;
      border: 2px solid var(--light-primary-color);
    }
  }
  .UX {
    border-radius: 50%;
    background-color: var(--main-UX-color);
    z-index: 4;
    animation: PreMenuAnimation 3750ms ease-out forwards;
    transform-origin: 2em 2em;
  }

  .FE {
    border-radius: 50%;
    z-index: 3;
    background-color: var(--main-FE-color);
    animation: PreMenuAnimation 3750ms ease-out forwards;
    transform-origin: -2em 2em;
  }

  .BE {
    border-radius: 50%;
    z-index: 2;
    background-color: var(--main-BE-color);
    animation: PreMenuAnimation 3750ms ease-out forwards;
    transform-origin: 2em -2em;
  }

  .SL {
    border-radius: 50%;
    z-index: 1;
    background-color: var(--main-SL-color);
    animation: PreMenuAnimation 3750ms ease-out forwards;
    transform-origin: -2em -2em;
  }
}

@keyframes PreMenuAnimation {
  0% {
    opacity: 0;
    // width: 12em;
    transform: rotate(-360deg);
  }
  100% {
    opacity: 1;
    // width: 2em;
    transform: rotate(0deg);
  }
}

@keyframes PreMenuAnimationRotate {
  0% {
    // opacity: 0;
    // width: 4em;
    transform: rotate(-360deg);
  }
  100% {
    // opacity: 1;
    // width: 2em;
    transform: rotate(0deg);
  }
}

@keyframes PreMenuAnimationWidth {
  0% {
    // opacity: 0;
    width: 4em;
    // transform: rotate(-960deg);
  }
  100% {
    // opacity: 1;
    width: 2em;
    // transform: rotate(0deg);
  }
}

#menu {
  // font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  .container {
    display: flex;
    width: 80vw;
    height: 80vw;
    max-width: 80vh;
    max-height: 80vh;
    flex-wrap: wrap;
    animation: MenuAnimationRotate 750ms ease-out;
    div {
      width: 40vw;
      height: 40vw;
      max-width: 40vh;
      max-height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: white;
      opacity: 0;
      border: 2px solid var(--light-primary-color);
      span {
        font-size: 1.5rem;
        opacity: 0;
      }
    }
  }
}

#UX-menu {
  background-color: var(--main-UX-color);
  z-index: 4;
  transform-origin: 100% 100%;
  animation: MenuAnimation 500ms 000ms linear forwards;
  span {
    animation: flicker-in 600ms 800ms ease-in forwards;
  }
}

#FE-menu {
  z-index: 3;
  background-color: var(--main-FE-color);
  transform-origin: 0% 100%;
  animation: MenuAnimation 500ms 100ms linear forwards;
  span {
    animation: flicker-in 600ms 850ms ease-in forwards;
  }
}

#BE-menu {
  z-index: 2;
  background-color: var(--main-BE-color);
  transform-origin: 0% 0%;
  animation: MenuAnimation 500ms 200ms linear forwards;
  span {
    animation: flicker-in 600ms 880ms ease-in forwards;
  }
}

#SL-menu {
  z-index: 1;
  background-color: var(--main-SL-color);
  transform-origin: 100% 0%;
  animation: MenuAnimation 500ms 300ms linear forwards;
  span {
    animation: flicker-in 600ms 820ms ease-in forwards;
  }
}

@keyframes MenuAnimation {
  0% {
    opacity: 1;
    transform: rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes MenuAnimationRotate {
  0% {
    transform: scale(0.5) rotate(-300deg);
  }
  90% {
    transform: scale(0.9) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10.1% {
    opacity: 0.7;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 0.7;
  }
  20.6% {
    opacity: 0;
  }
  30.1% {
    opacity: 0.7;
  }
  30.5% {
    opacity: 0.7;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.7;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.7;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.7;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.7;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}
