<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->


<div class="menu" id="menu">
  <div class="container">
    <div class="UX" id="UX-menu">
      <span>UX/UI</span>
    </div>
    <div class="FE" id="FE-menu">
      <span>FrontEnd</span>
    </div>
    <div class="SL" id="SL-menu">
      <span>Serverless</span>
    </div>
    <div class="BE" id="BE-menu">
      <span>BeckEnd</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
