<nav>
  <x5-nav-item link="home" class="home" title="HOME">
    <svg:svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <svg:path fill="#ffff" d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
    </svg:svg>
  </x5-nav-item>
  <x5-nav-item link="UX">
    <span class="longtitle">eXperience</span>
    <span class="shorttitle">UX</span>
  </x5-nav-item>
  <x5-nav-item link="FE">
    <span class="longtitle">Front End</span>
    <span class="shorttitle">FE</span>
  </x5-nav-item>
  <x5-nav-item link="SL">
    <span class="longtitle">Serverless</span>
    <span class="shorttitle">SL</span>
  </x5-nav-item>
  <x5-nav-item link="BE">
    <span class="longtitle">Back End</span>
    <span class="shorttitle">BE</span>
  </x5-nav-item>
</nav>
