<nav>
  <div #linkbar class="bar"></div>
  <!-- <div #linkbar [style.width]="FE.offsetWidth" [style.left]="FE.offsetLeft" class="resp"></div> -->
  <div class="navitems">
    <x5-nav-item link="home" (tap)="getElementDim(0)" #home title="HOME"></x5-nav-item>
    <x5-nav-item link="UX" (tap)="getElementDim(1)" #UX title="eXperience"></x5-nav-item>
    <x5-nav-item link="FE" (tap)="getElementDim(2)" #FE title="Front End"></x5-nav-item>
    <x5-nav-item link="SL" (tap)="getElementDim(3)" #SL title="Serverless"></x5-nav-item>
    <x5-nav-item link="BE" (tap)="getElementDim(4)" #BE title="Back End"></x5-nav-item>
  </div>
</nav>
